* {
    margin: 0;
    padding: 0;
}

.list-of-animals {
    background-color: #f0f0f0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.animal-info {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    text-align: center;
}