* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.list-of-animals {
    background-color: #f0f0f0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.animal-info {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.age-label,
.skills-label {
    color: #4b4b4b;
    font-size: 0.95rem;
    font-weight: bold;
    margin-top: 10px;
}